/* Main CSS for larger screens */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 88px;
    position: sticky;
    top: 0;
    background-color: #161513;
    z-index: 1000;
    padding: 10px 0;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}
/* Hamburger specific rules */
.nav-mob-open {
    display: none;
    cursor: pointer;
    width: 40px;
}

.nav-mob-close {
    display: none;
    width: 30px;
}

.nav-connect {
    padding: 10px 25px;
    border-radius: 30px;
    background: linear-gradient(315deg, #ba0c0c 0%, #b30aad 74%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-connect:hover {
    background: linear-gradient(315deg, #b30aad 0%, #ba0c0c 74%);
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-menu li img {
    display: flex;
    margin: auto;
}

.anchor-link {
    text-decoration: none;
    color: #ffffff;
}

.nav-mob-close {
    display: none;
}

.nav-mob-open {
    display: none;
}

.social-links {
    max-width: 100%;
    font-size: 30px;
    display: flex;
    margin-right: 30px;
    cursor: pointer;
}

.social-linkedin, 
.social-github, 
.social-facebook, 
.social-instagram {
    display: flex;
    justify-content: center;
    padding: 8px;
    color: white;
    transition: 0.5s;
}

.social-linkedin:hover,
.social-github:hover,
.social-facebook:hover,
.social-instagram:hover {
    transform: scale(1.25);
}

/* Breakpoints for responsiveness */
@media (max-width: 1024px) {
    .navbar {
        margin: 20px 40px;
    }

    .nav-menu {
        gap: 30px; /* Adjust the gap for smaller screens */
    }

    .nav-connect {
        font-size: 20px;
    }

    .social-links {
        font-size: 28px;
    }
}

@media (max-width: 992px) {
    .navbar {
        margin: 20px 30px;
    }

    .nav-menu {
        gap: 28px;
    }

    .nav-connect {
        font-size: 18px;
    }

    .social-links {
        font-size: 26px;
    }

    
}

@media (max-width: 768px) {
    .navbar {
        margin: 20px 24px;
    }
    .nav-menu {
        gap: 24px;
    }
    .nav-menu li {
        font-size: 16px;
    }

    .social-links{
        font-size: 16px;
    }


}

@media (max-width: 425px),(max-width: 375px) {
    /* .navbar {
        margin: 20px 24px;
    } */
    
    .nav-mob-open {
        display: block;
        position: fixed;
        right: 20px;
        top: 20px;
        z-index: 2000;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: flex-start;
        top: 0;
        right: -350px; /* Initially hidden */
        width: 300px;
        height: 140vh;
        background-color: #1F0016;
        transition: right 0.5s ease;
        z-index: 1500;
        padding-top: 100px;
    }

    .nav-menu li {
        font-size: 24px;
        padding-left: 20px;
        flex-direction: row;
        gap: 15px;
    }

    .nav-mob-close {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        width: 30px;
        cursor: pointer;
    }

    .social-links{
        font-size: 24px;
    }


}
