.footer {
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-top-left p {
    font-size: 20px;
    max-width: 400px;
}

.footer-top-right {
    display: flex;
    align-items: center;
    gap: 35px;
}

.footer-email-input {
    display: flex;
    gap: 30px;
    padding: 10px 18px;
    border-radius: 50px;
    background: #32323B;
    padding-right: 60px;
    border: 2px solid #b30aad;
    transition: 0.5s;
}

.footer-email-input input {
    outline: none;
    border: none;
    background: transparent;
    color: #a0a0a0;
    font-size: 18px;
}

.footer-email-input:hover {
    transform: scale(1.1);
}

.footer-subscribe {
    font-size: 20px;
    padding: 12px 50px;
    border-radius: 50px;
    background: linear-gradient(315deg, #ba0c0c 0%, #b30aad 74%);
    cursor: pointer;
    transition: 0.3s;
}

.footer-subscribe:hover {
    transform: scale(1.1);
    background: linear-gradient(315deg, #b30aad 0%, #ba0c0c 74%);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.footer-bottom-right {
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}

.social-links-footer {
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
}

.social-links-footer > * {
    margin-right: 10px;
}

.social-linkedin-footer,
.social-github-footer,
.social-facebook-footer,
.social-instagram-footer {
    padding: 8px;
    color: white;
    transition: 0.5s;
}

.social-linkedin-footer:hover,
.social-github-footer:hover,
.social-facebook-footer:hover,
.social-instagram-footer:hover {
    transform: scale(1.25);
}

/* Responsive styling */

/* For devices with max-width 1024px */
@media (max-width: 1024px) {
    .footer {
        margin: 50px 100px;
    }

    .footer-top-left p {
        font-size: 18px;
    }

    .footer-email-input input {
        font-size: 16px;
    }
}

/* For devices with max-width 992px */
@media (max-width: 992px) {
    .footer {
        margin: 50px 70px;
    }

    .footer-top {
        flex-direction: column;
        gap: 30px;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .footer-bottom-right {
        flex-direction: column;
        gap: 20px;
    }
}

/* For devices with max-width 768px */
@media (max-width: 768px) {
    .footer {
        margin: 50px 30px;
        gap: 30px;
    }

    .footer-top-left p {
        font-size: 18px;
        max-width: 100%;
    }

    .footer-email-input {
        width: 100%;
        padding-right: 30px;
    }

    .footer-subscribe {
        padding: 10px 30px;
        font-size: 18px;
    }

    .social-links-footer {
        justify-content: center;
    }

    .footer-bottom-right {
        flex-direction: column;
        gap: 10px;
    }
}

/* For devices with max-width 425px */
@media (max-width: 425px) {
    .footer {
        margin: 20px;
        gap: 20px;
    }

    .footer-top-left p {
        font-size: 16px;
        max-width: 100%;
    }

    .footer-email-input {
        align-items: center;
        padding: 0 15px;
        gap: 10px;
        padding-right: 20px;
    }

    .footer-email-input input {
        width: 100%;
        padding: 10px;
        font-size: 12px;
    }

    .footer-subscribe {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        text-align: center;
    }

    .footer-bottom {
        font-size: 14px;
        text-align: center;
    }

    .footer-bottom-right {
        gap: 15px;
    }
}

/* For devices with max-width 360px */
@media (max-width: 360px) {
    .footer {
        margin: 10px;
        gap: 10px;
    }

    .footer-top-left p {
        font-size: 14px;
    }

    .footer-email-input {
        gap: 10px;
        padding: 10px;
    }

    .footer-subscribe {
        font-size: 14px;
        padding: 8px 20px;
    }

    .social-links-footer {
        font-size: 24px;
    }

    .footer-bottom {
        font-size: 12px;
    }
}
