*{
  margin:0;
  padding:0;
}

body{
  height:100vh;
  background:#161513;
  color: white;
  overflow-x:hidden ;
  /* font-family: 'outfit'; */
}
html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth; /* For Safari */
  -moz-scroll-behavior: smooth; /* For Firefox */
}
